# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Binaries
bin/

#RAW image files
*.raw

#Temp Files
*~

# DS_STORE
.DS_Store

#Xcode project file
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.
*.xcuserstate
CW5/